body { 
  background-color: #E4F1FF;
  margin: 0px 0px 0px 0px;
}

@media print {
    html, body {
       display: none;
    }
}

#contenttable{
  width:1024px;
  background-color:#FFFFFF;
}

#datadisplay {
  width:550px;
  text-align: center;
  background-color: #1984c3;
  color: #fff;
  padding: 1em 5em;
  border-radius: 0.5em;
  border:none;
  outline:none;
  transition: all 0.1s ease-out;
  position: relative;
  box-shadow: 0 2px 3px #ccc;
  border-bottom: 0.25em solid #0f5177;
  top:-2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#annotation_textarea {
  font-size: 18px;
  width: 80%;
  background-color: white;
}

.sbutton {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-bottom: 0.1em solid black;
  border-right: 0.1em solid black;
}

.obutton {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-bottom: 0.1em solid #C0C0C0;
  border-right: 0.1em solid #C0C0C0;
}

.rbutton {
  background-color: #e7e7e7;
  border-radius: 12px;
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-bottom: 0.1em solid #C0C0C0;
  border-right: 0.1em solid #C0C0C0;
}